<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cnmei.oa.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="cnmei.oa.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findOne" resultMap="BaseResultMap" parameterType="cnmei.oa.pojo.User">
		select * from t_user where name = #{name} and password = #{password}
	</select>
	
	<update id="updatePwdById" parameterType="cnmei.oa.pojo.User">
		update t_user set password=#{password} where id=#{id};
	</update>

</mapper>